<div class="col-md-3">
    <div class="dash-left">
        <ul>
            <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
            <li><a href="/admin/blogdisplay">Display Blog</a></li>
            <li><a href="/admin/category">Categories</a></li>
            <li><a href="/admin/aboutdisplay">About</a></li>
            <li><a href="/admin/contact">Contact</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>